<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/static/home/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <title>Nick's Portfolio</title>
  </head>
  <body>
    <header>
        <div class="logo">
        <a class="logo-image">
            <img src="/static/logo.png" width="40" height="40">
        </a>
        <a class="logo-text" href="{% url 'home' %}">Nick's Portfolio</a>
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="icon">
            <i class='bx bx-menu-alt-right' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="#">About</a>
            <a href="#">Projects</a>
            <a href="#">Experience</a>
            <a href="{% url 'profile' %}">Me</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
    {% block release %}
    {% endblock %}
    <footer>
      <p>random foot</p>
    </footer>
  </body>
</html>