{% extends 'home/base.html' %}
{% block release %}
<div class="home">
    <div class="home-item">
        <img src="/static/profile.jpeg" class="profile-pic" width="300" height="300">
    </div>
    <div class="home-item">
        <p class="home-info">Nick Ek</p>
        <p>B.S. Computer Engineering</p>
        <p>Wentworth Institute of Technology</p>
        <div class="home-btn-container">
            <a href="#" class="home-btn">Resume</a>
            <a href="#">Contact</a>
        </div>
    </div>
    
</div>
{% endblock %}