{% extends 'home/login_reg_base.html' %}
{% block release %}

	<div>
		<h3 id="form-title">Login</h3>
	</div>
	<div>
		<form method="POST" action="">
			{% csrf_token %}
			<div class="input-group">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-user"></i></span>
				</div>
				<input type="text" name="username" placeholder="Username" class="form-control">
			</div>
			<div class="input-group">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-key"></i></span>
				</div>
					<input type="password" name="password" placeholder="Password" class="form-control" >
			</div>
			<div>
				<input class="btn login_btn" type="submit" value="Login">
			</div>
		</form>
	</div>
	<br>
	<div class="'error-message">
		{% for message in messages %}
		<p style="color: red">{{ message }}</p>
		{% endfor %}
	</div>
	<div class="mt-4">
		<br>
		<div>
			Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
		</div>
		<br>
		<div>
			Forogt password? <a href="{% url 'password_reset' %}" class="ml-2">Reset Password</a>
		</div>
	</div>
</div>
{% endblock %}