{% extends 'home/login_reg_base.html' %}
{% block release %}
<div class="user_card">
	<div class="d-flex justify-content-center">
		<h3 id="form-title">Register</h3>
	</div>
	<div class="d-flex justify-content-center form_container">

		<form method="POST" action="">
			{% csrf_token %}
			<div class="input-group">
				{{ form.username }}
			</div>
			<div class="input-group">
				{{ form.email }}
			</div>
			<div class="input-group">
				{{ form.first_name }}
			</div>
			<div class="input-group">
				{{ form.last_name }}
			</div>
			<div class="input-group">
				{{ form.password1 }}
			</div>
			<div class="input-group">
				{{ form.password2 }}
			</div>
			<div class="d-flex justify-content-center mt-3 login_container">
				<input class="btn register_btn" type="submit" value="Register Account">
			</div>
		</form>
	</div>
	<br>
	<div class="'error-message">
		{{ form.errors }}
	</div>
	<div class="mt-4">
		<div class="d-flex justify-content-center links">
			Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
		</div>
	</div>
</div>
<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder='Username';
    form_fields[3].placeholder='Email';
	form_fields[4].placeholder='First Name';
	form_fields[5].placeholder='Last Name';
    form_fields[6].placeholder='Enter Password';
    form_fields[7].placeholder='Re-Enter Password';


    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock %}