{% extends 'home/base.html' %}
{% block release %}
<main class="login_main">
<form method="POST" class="form-signin">
    {% csrf_token %}
    <h3 id="form-title">Change password</h3>
    <div class="input-group">
      <input name="old_password" class="form-control" placeholder="Old Password" type="password" id="id_old_password" required="true">
    </div>
    <div class="input-group">
      <input name="new_password1" class="form-control" placeholder="New Password" type="password" id="id_new_password1" required="true">
    </div>
    <div class="input-group">
      <input name="new_password2" class="form-control" placeholder="Confirm Password" type="password" id="id_new_password2" required="true">
    </div>
      {% for field in form %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      {% endfor %}
  
    <button id="id_submit_btn" class="btn register_btn" type="submit">Update Password</button>  
</form>
</main>
{% endblock %}